<h1>Search Results</h1>

<h2>Nearest Station</h2>

<ul>
  <li>Name: <%= map_info.closest_electric_station.name %></li>
  <li>Address: <%= map_info.closest_electric_station.address %></li>
  <li>Fuel Type: <%= map_info.closest_electric_station.fuel_type %></li>
  <li>Access Times: <%= map_info.closest_electric_station.access_times %></li>
</ul>
